#know-your-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.label {
    border: 0px none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label .know-your-size {
    color: #0a0a0a;
    font-family: "Actor-Regular", Helvetica;
    font-size: 58px;
    font-weight: 400;
    height: 70px;
    left: 0;
    letter-spacing: 2.9px;
    line-height: normal;
    text-align: center;
    top: 0;
    text-transform: uppercase;
    position: relative;
    margin-right: 30px;
    
}
/* knowYourSize.css */

.sectionStyle {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.know-your-size {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FF914D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e38526;
}

p {
    margin-top: 10px;
    font-weight: bold;
}